*{
    font-family: "Gill Sans", sans-serif;
}

body{
    height: 100vh;
    background-color: #000000;
}

#container_Controller_Game{
    height: 230px;
    width: 300px;
    border-radius: 10px;
}

#container-CampoMinato{
    height: 50vh;
    width: 60vh;
}



header,.my-h1-win-loose{
    color: yellow;
}

header{
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.1em;
}
