*{
    font-family: "Gill Sans", sans-serif;
}

body{
    height: 100vh;
    background-color: #000000;
}

#container_Controller_Game{
    height: 230px;
    width: 300px;
    border-radius: 10px;
}

#container-CampoMinato{
    /* height: 50vh; */
    width: 60vh;
}

header{
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.1em;
}

header,#h1-win{
    color: yellow;
}

#h1-loose{
    color : red;
}

#table-campominato{
    margin: auto 0;
}

td,tr{
    border: 5px solid yellow;
}
